{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} a basic CRUD application {% endblock %}

{% block body %} 
<div class="container">
    <div class="row">
        <div class="col md-12">
            <h3>Manage Inventory<button type="button" class="btn btn-outline-info float-end" data-bs-toggle="modal" data-bs-target="#addmodal">Add new product</button></h3>

            <table class="table table-hover">
                <tr>
                    <th>ID</th>
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Product Quantity</th>
                </tr>
                {% for row in products %}
                <tr>
                    <td>{{row.id}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.price}}</td>
                    <td>{{row.quantity}}</td>

                    <td>
                        <a href="/update/{{row.id}}" class="btn btn-primary btn-xs" data-bs-toggle="modal" data-bs-target="#editmodal{{row.id}}">Edit</a>
                        <a href="/delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure?')">Delete</a>
                    </td>
                </tr>
                <!--Edit product modal-->
                <div class="modal fade" id="editmodal{{row.id}}" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="editmodal">Edit product</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{{url_for('update')}}" method="POST">
                                <div class="form-group">
                                   <label>Product Name:</label>
                                   <input type="hidden" name="id" value="{{row.id}}">
                                   <input type="text" class="form-control" name="name" value="{{row.name}}">
                                </div>
                                 <div class="form-group">
                                   <label>Product Price:</label>
                                   <input type="number" step="any" class="form-control" name="price" value="{{row.price}}">
                                 </div>
                                 <div class="form-group">
                                   <label>Product Quantity:</label>
                                   <input type="number" class="form-control" name="quantity" value="{{row.quantity}}">         
                                </div>
                                <div class="form-group">
                                   <button class="btn btn-primary mt-2" type="submit">Update</button>
                                </div>
                             </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
            </table>
            <a href="{{url_for('generate')}}" class="btn btn-outline-info float-start">Export product data to CSV</a>
        </div>

        <!--Add product modal-->
        <div class="modal fade" id="addmodal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addmodal">Add new product</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{url_for('add')}}" method="POST">
                        <div class="form-group">
                           <label>Product Name:</label>
                           <input type="text" class="form-control" name="name" required="1">
                        </div>
                         <div class="form-group">
                           <label>Product Price:</label>
                           <input type="number" step="any" class="form-control" name="price" required="1">
                         </div>
                         <div class="form-group">
                           <label>Product Quantity:</label>
                           <input type="number" class="form-control" name="quantity" required="1">         
                        </div>
                        <div class="form-group">
                           <button class="btn btn-primary mt-2" type="submit">Save</button>
                        </div>
                     </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
{% endblock %}