{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} a basic CRUD application {% endblock %}

{% block body %} 
<div class="container">
    <div class="row">
        <div class="col md-12">
            <h3>Manage Inventory<button type="button" class="btn btn-outline-info float-end">Add new item</button></h3>

            <table class="table table-hover">
                <tr>
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Product Quantity</th>
                </tr>
                <tr>
                    <td>iPhone X Case</td>
                    <td>29.99</td>
                    <td>100</td>

                    <td>
                        <a href="" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modal">Edit</a>
                        <a href="" class="btn btn-warning btn-xs" onclick="return confirm('Are you sure?')">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}